
@using tl2_tp6_2024_GonEnGit.Models

@using EspacioModelos

@model Productos

<form asp-controller="Producto" asp-action="RegistrarProducto">
    <article>
        <label asp-for="@Model.Descripcion">Descripcion del producto: </label>
        <input asp-for="@Model.Descripcion">
    </article>
    <article>
        <label asp-for="@Model.Precio">Precio</label>
        <input asp-for="@Model.Precio">
    </article>
    <article>
        <input type="submit" value="Registrar">
    </article>
</form>