
<!-- Entonces, tambien tenes que llamar los archivos en estos casos -->
@using tl2_tp6_2024_GonEnGit.Models
@using EspacioModelos

@model List<Producto>


<!-- Ctr + c termina la ejecucion del proyecto -->
<div class="text-center container-fluid">
    <h1 class="display-6">Producto Disponibles</h1>
    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <td>Id</td>
                <td>Descripcion</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Producto prod in Model)
            {
                <tr>
                    <td>@prod.Id</td>
                    <td>@prod.Descripcion</td>
                    <td>$ @prod.Precio</td>
                </tr>
            }
        </tbody>
    </table>
    <article class="d-flex justify-content-around">
        <a class="btn btn-outline-info bg-dark" asp-controller="Producto" asp-action="RegistrarProducto">Cargar Producto Nuevo</a>
        <a class="btn btn-outline-warning bg-dark" asp-controller="Producto" asp-action="" disabled>Actualizar Producto</a>
    </article>
</div>
